## Settings file was created by plugin SAIN v2.1.12
## Plugin GUID: me.sol.sain

[SAIN Editor]

## Change The Debug Overlay with DrakiaXYZs Debug Overlay
# Setting type: KeyboardShortcut
# Default value: LeftBracket
Next Debug Overlay = LeftBracket

## Change The Debug Overlay with DrakiaXYZs Debug Overlay
# Setting type: KeyboardShortcut
# Default value: RightBracket
Previous Debug Overlay = RightBracket

## Opens the Editor on press
# Setting type: Boolean
# Default value: false
Open Editor = false

## The keyboard shortcut that toggles editor
# Setting type: KeyboardShortcut
# Default value: F6
Open Editor Shortcut = F6

