## Settings file was created by plugin Radar v1.1.3
## Plugin GUID: Tyrian.Radar

[Advanced Settings]

# Setting type: Boolean
# Default value: false
Corpse Detection Enabled = false

# Setting type: KeyboardShortcut
# Default value: F11
Short cut for enable/disable corpse dection = F11

# Setting type: Boolean
# Default value: false
Loot Detection Enabled = false

# Setting type: KeyboardShortcut
# Default value: F9
Short cut for enable/disable loot dection = F9

[Base Settings]

## Preferred language, if not available will tried English
# Setting type: String
# Default value: EN
# Acceptable values: EN, ZH, RU
Language = EN

# Setting type: Boolean
# Default value: true
Radar Enabled = true

# Setting type: KeyboardShortcut
# Default value: F10
Short cut for enable/disable radar = F10

## Adds the radar scan effect.
# Setting type: Boolean
# Default value: true
Radar Pulse Enabled = true

[Color Settings]

# Setting type: Color
# Default value: FF0000FF
Boss Color = FF0000FF

# Setting type: Color
# Default value: 00FF00FF
SCAV Color = 00FF00FF

# Setting type: Color
# Default value: FFFF00FF
USEC Color = FFFF00FF

# Setting type: Color
# Default value: FF8000FF
BEAR Color = FF8000FF

# Setting type: Color
# Default value: 808080FF
Corpse Color = 808080FF

# Setting type: Color
# Default value: E68080FF
Loot Color = E68080FF

# Setting type: Color
# Default value: 00B2D9FF
Background Color = 00B2D9FF

[Radar Settings]

## The size of the radar Hud.
# Setting type: Single
# Default value: 0.8
# Acceptable value range: From 0 to 1
HUD Size = 0.5370892

## The size of the blip.
# Setting type: Single
# Default value: 0.7
# Acceptable value range: From 0 to 1
HUD Blip Size = 0.7

## This scales the blips distances from the player, effectively zooming it in and out.
# Setting type: Single
# Default value: 0.7
# Acceptable value range: From 0.1 to 2
HUD Blip Disntance Scale Offset = 0.7

## This distance threshold decides blips turning into up or down arrows depending on enemies height levels.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 4
HUD Blip Height Threshold = 1

## X Position for the Radar Hud.
# Setting type: Single
# Default value: 0
# Acceptable value range: From -4000 to 4000
HUD X Position Offset = 1014.085

## Y Position for the Radar Hud.
# Setting type: Single
# Default value: 0
# Acceptable value range: From -4000 to 4000
HUD Y Position Offset = 525.8216

## The range within which enemies and loots are displayed on the radar.
# Setting type: Single
# Default value: 128
# Acceptable value range: From 32 to 512
Radar Range = 128

## The interval between two scans.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.1 to 30
Radar Scan Interval = 1

## Item above this price will show on radar.
# Setting type: Single
# Default value: 30000
# Acceptable value range: From 5000 to 100000
Loot Threshold = 30000

